debian/.debhelper
debian/debhelper-build-stamp
debian/paper-icon-theme
debian/paper-icon-theme.debhelper.log
debian/paper-icon-theme.postinst.debhelper
debian/paper-icon-theme.postrm.debhelper
debian/paper-icon-theme.substvars
debian/tmp