#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	# dh_install -p paper-icon-theme debian/tmp/usr/share/icons

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_clean:
	dh_auto_clean